body{
    background-color: rgb(137, 137, 211);
}
header{
color: #ffffff ;
text-shadow: black 0.1em 0.1em 0.2em;
font: normal 18pt arial;
text-align: center;
}

section{
    width: 500px;
    height: 300px;
 background-color: #ffffff;
 border-radius: 20px;
 margin: auto;
 text-align: center;
 padding: 15px;
 box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}
div#msg{
    font: normal 18pt arial;
  
}
footer{
    font-style: italic;
    text-align: center;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;

}